<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - razor_web</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .nav-link {
            border: 1px solid #ced4da !important;
            border-radius: unset !important;
            font-weight: bold !important;
        }
        .nav-link:hover {
            /*background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,7,128,1) 0.1%, rgba(37,145,251,0.98) 99.8% ) !important;*/
            background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);
            color: white !important;
        }
        .header {
            /*background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,7,128,1) 0.1%, rgba(37,145,251,0.98) 99.8% ) !important;*/
            background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark header">
        <div class="container">
            <a class="navbar-brand fw-bold"  asp-area="" asp-controller="Home" asp-action="Index">Razor web</a>
        </div>
    </nav>



    <div class="container">
        <nav class="nav nav-pills nav-fill mt-3">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Config">Config 1</a>
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Config2">Config 2</a>

        </nav>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        @*<footer>
                <p>&copy; 2022 - Razor_web</p>
            </footer>*@
    </div>

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
