@{
    ViewData["Title"] = "Config";
}
    <div class="mt-5"></div>

    <div class="card">
        <div class="card-header fw-bold">
            Config 1
        </div>
        <div class="card-body">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Field 1</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Field 2</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Field 3</label>
                    <input type="text" class="form-control" id="inputAddress" >
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Field 4</label>
                    <input type="text" class="form-control" id="inputAddress2" >
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Field 5</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Field 6</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
              
               
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>